#container{
    text-align: center;
    font-size: 25px;
}
input{
    text-align: center;
}
input{
    font-size: large;
}
#rollbutton{
    font-size:large ;
    padding: 5px;}
#diceresult{
text-align: center;
margin-top: 20px;
font-size: 20px;
}
#imageresult img{
    font-size: 50px;
    width: 150px;
    margin: 5px;
    
}